h5 {
    color: var(--white);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 120px;
    line-height: 128px;
}

.project-container {
    margin-left: 160px;
    margin-right: 160px;
    width: auto;
    min-height: 240px;
} 

.project-title {
    margin-left: 160px;
    margin-right: 160px;
    width: auto;
}