body {
    max-height: 650px;
}

h2 {
    font-weight: 400;
    font-size: 120px;
    line-height: 128px;
    color: var(--green);
}

h3 {
    color: var(--white);
}

h4 {
    color: var(--purple);
}

.arrow-icon {
    vertical-align: middle;
}