/* body {
    max-height: 650px;
} */ 

h2 {
    font-weight: 500;
    font-size: 120px;
    line-height: 128px;
    color: var(--green);
    margin-bottom: 0;
    margin-top: 80px;
}

h3 {
    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    color: var(--white);
    margin-top: 48px;
    margin-bottom: 0;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--purple);
    margin-top: 48px;
    margin-bottom: 0;
    align-self: center;
}

.arrow-icon {
    vertical-align: middle;
}

.titles {
    display: flex;
    flex-direction: row;
    max-height: 740px;
    overflow: hidden;
    padding-left: 160px;
}

.titles-items {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.titles-items > *:last-child {
    align-items: center;
}

.hero-image {
    mix-blend-mode: screen;
}

img {
    object-fit: cover;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #FFFFFf;
    opacity: 50%;
}

