body {
    max-height: 650px;
}

h2 {
    font-weight: 500;
    font-size: 120px;
    line-height: 128px;
    color: var(--green);
}

h3 {
    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    color: var(--white);
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--purple);
}

.arrow-icon {
    vertical-align: middle;
}