.title {
    color: var(--white);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 48px;
}

.link-repo {
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    padding-bottom: 80px;
    display: block;
}

.index-sign {
    color: var(--purple);
    font-weight: 400;
    font-size: 32px;
    width: 72px;
    display: inline-block;
    vertical-align: top;
}

.project-box{
    display: inline-block;
}

.project-index {
    color: var(--purple);
    font-weight: 400;
    font-size: 32px;
}

.shaded-block {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--white);
}

.summary {
    color: var(--white);
}