h6 {
    color: var(--white);
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 48px;
}

.link-repo {
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

.index {
    color: var(--purple);
    font-weight: 400;
    font-size: 32px;
}

/* .project-item {
    max-width: 1280px;
} */

.project-listing {
    color: var(--purple);
    font-weight: 400;
    font-size: 32px;
}