:root {
    --green: #00FFA8;
    --white: #FFFFFF;
    --purple: #B337FF;
}

body {
    margin: 0;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    background-image: url(../assets/back.jpg);
    background-repeat: repeat;
    opacity: 0.2;  
}



